
body {
  background-image: $homeBackgroundImage;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

h2 {
  display: none;
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%, -50%));
}

.item {
  text-align: center;
  & .image {
    border-radius: 20px;
    @include background-positioning;
  }
  &:hover h2 {
    display: block;
  }
}

#biography .image {
  background-image: $biographyImage;
}
#family .image {
  background-image: $familyImage;
}
#australiaZoo .image {
  background-image: $zooImage;
}
#conservation .image {
  background-image: $conservationImage;
}
#gallery .image {
  background-image: $galleryImage;
}
#media .image {
  background-image: $mediaImage;
}
