
body {
  background-image: $homeBackgroundImage;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: $font-color;
  text-shadow: -3px 0 #364A1D, 0 3px #364A1D, 3px 0 #364A1D, 0 -3px #364A1D;
}

h1 {
  font-size: 13vw;
  font-family: rust;
  @include grid-media($medium-grid) {
    font-size: 115px;
  }
}

h2 {
  display: none;
  font-size: 5vw;
  font-family: head;
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%, -50%));
}

.item {
  text-align: center;
  & .image {
    border-radius: 20px;
    @include background-positioning;
  }
  &:hover {
    cursor: pointer;
    & h2 {
      display: block;
    }
  }
}

#biography .image {
  background-image: $biographyImage;
}
#family .image {
  background-image: $familyImage;
}
#australiaZoo .image {
  background-image: $zooImage;
}
#conservation .image {
  background-image: $conservationImage;
}
#gallery .image {
  background-image: $galleryImage;
}
#media .image {
  background-image: $mediaImage;
}
