main {
  min-width: 250px;
  margin-right: 40%;
  @include grid-media ($medium-grid) {
    margin-right: 25%;
  }
}

.container {
  padding: 0 3vw;
  margin: 0 auto;
  @include grid-media($medium-grid) {
    padding: 0 0;
  }
}
