//colors
$font-color: #FEDC53;
$font-border-color: #364A1D;
$navButtonColor: darkgrey;
$navBarColor: lightgray;

//images
$homeBackgroundImage: url("../images/background.png");
$biographyImage: url("../images/biography.jpg");
$familyImage: url("../images/family.jpg");
$zooImage: url("../images/zoo.png");
$conservationImage: url("../images/conservation.jpeg");
$galleryImage: url("../images/gallery.jpg");
$mediaImage: url("../images/media.jpg");
